{% set globals = _debug_globals() %}
<div id="debug-container">
<!-- Whitespace is very important in this file, please don't add newlines willy nilly -->
  <div id="debug">
    <a href="#dismiss-debug" id="dismiss-debug"></a>
    <div id="debug-contents-container">
      <div id="debug-contents">
	<pre id="globals-label">$GLOBALS [{{ array_length(globals) }}]</pre>
	<div id="globals-container">
	  {% for key, value in globals %}
	  <button class="globals-key {{ is_array(value) ? 'array' : 'object expandable-on-click-label' }} {{ is_array(value) and array_length(value) > 1 ? 'expandable-on-click-label' : '' }}">
	    ${{ key }} {{ is_array(value) ? '[' ~ array_length(value) ~ ']' : '' }}
	    {% if not is_array(value) or (is_array(value) and array_length(value) > 1) %}<img src="/icons/plus-square.svg" alt="plus symbol" >{% endif %}
	  </button>
	    {% if is_array(value) %}
	      <div class="array-data expandable">
		{% for nestedKey, nestedValue in value %}
		  <button class=" pre nested-global">"{{ nestedKey }}" => {{ nestedValue | json_encode(constant('JSON_UNESCAPED_SLASHES')) }}</button>
		{% endfor %}
	      </div>
	      {% else %}
	      <div class="object-container expandable">
		<button class="nested-global object-data pre">{{ dump(value) }}</button></div>
	    {% endif %}
	  {% endfor %}
	</div><!-- #globals-container -->
      </div>
    </div>
  </div>
  <a href="#debug" id="open-debug"></a>
</div>
