<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %} | ERS</title>
	<link rel="stylesheet" href="styles.css">
	{% block head %}{% endblock %}
    </head>
    <body>
	<div id="content">
            <h1>My Webpage</h1>
	    {% block content %}{% endblock %}
	</div>
	{% if env('APP_DEBUG') %}
	{% include '_debug.html' %}
	{% endif %}
    </body>
</html>
